:host{
  display: grid;
  grid-template-columns: 112px 1fr;
  grid-gap: 24px;
}

.img__placeholder{
  width: 18px;
  height: 18px;
  background-color: black;
  border-radius: 50%;
  border: 1px solid var(--primary-color);
}

.profile-avatar{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

